**/.git
**/.gitignore
**/.env
**/__pycache__
**/node_modules
**/npm-debug.log
.next
.vscode
README.md
**/build-deploy.sh
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/env
**/pip-log.txt
**/pip-delete-this-directory.txt
