
# Model access: Google AI Studio API or Vertex AI API(through GCP project)
GOOGLE_GENAI_USE_VERTEXAI=TRUE

# For Google AI Studio API (GOOGLE_GENAI_USE_VERTEXAI=FALSE)
GOOGLE_API_KEY=${GEMINI_API_KEY}

# For Vertex AI API (GOOGLE_GENAI_USE_VERTEXAI=TRUE)
GOOGLE_CLOUD_PROJECT=${PROJECT_ID}
GOOGLE_CLOUD_LOCATION=${REGION}

# Frontend configuration
FRONTEND_URL=http://localhost:3000


