# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env/
venv/
ENV/
.python-version

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Testing
.coverage
.coverage.*
.pytest_cache/
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Logs
*.log
logs/
log/

# Local development
*.db
*.sqlite3
local_settings.py
instance/

# Google Cloud
.gcloud/
*.json
!package.json

# Dependencies
node_modules/
uv.lock

# Local test
src/test.py

# Builds
static_frontend/